@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Kumbh+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Kumbh Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1680px;
  margin: 0 auto;
}
#app *{
  transition: all 300ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 360px;
}

h1 {
  font-family: 'Poppins', sans-serif;;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #e95959;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
